<!doctype html>
<html lang="fa" dir="rtl">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="css/bootstrap.rtl.css">
   <link rel="stylesheet" href="css/bootstrap-icons.css">
   <link rel="stylesheet" href="css/owl.carousel.css">
   <link rel="stylesheet" href="css/owl.theme.default.min.css">
   <link rel="stylesheet" href="css/jquery.fancybox.min.css">
   <link rel="stylesheet" href="style.css">
   <title>صفحه محصول</title>
</head>

<body>
   <div id="responsive_Menu_Btn">
      <span></span>
      <span></span>
      <span></span>
   </div>
   <div class="responsive-menu-container w-100 bg-white p-4">
      <div id="responsive_Menu_Btn" class="close_responsive_Menu">
         <span></span>
         <span></span>
      </div>
      <ul>
         <li><a href="index.html">خانه</a></li>
         <li>
            <a href="shop.html">فروشگاه</a>

         </li>

         <li><a href="#">مطالب </a></li>
         <li>
            <a href="contact.html">تماس با ما</a>

         </li>
      </ul>
   </div>
   <header class="mb-5">
      <div class="top-menu position-relative">
         <div class="container">
            <span id="responsive_Menu_Btn">
               <span></span>
               <span></span>
               <span></span>
            </span>
            <div class="row">
               <div class="col-md-3 col-sm-6 col-12 text-center">
                  <div class="logo-box">
                     <img src="img/logo.png" alt="">
                  </div>
               </div>
               <div class="col-md-6 d-none d-md-block">
                  <div class="main-menu">
                     <ul>
                        <li><a href="index.html">خانه</a></li>
                        <li>
                           <a href="shop.html">فروشگاه</a>

                        </li>

                        <li><a href="#">مطالب </a></li>
                        <li>
                           <a href="contact.html">تماس با ما</a>

                        </li>
                     </ul>
                     </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6 col-12">
                  <div class="top-access">
                     <ul class="text-center p-0">
                        <li class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="سبد خرید"><a
                              href="cart.html" class="text-light d-inline-block"><i class="bi bi-bag"></i></a></li>
                        <li class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="حساب کاربری">
                           <a href="login-register.html" class="text-light d-inline-block"><i
                                 class="bi bi-person"></i></a></li>
                        <li class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="علاقمندی ها">
                           <a href="#" class="text-light d-inline-block"><i
                                 class="bi bi-heart"></i></a></li>
                        <li data-bs-toggle="modal" data-bs-target="#exampleModal" class="d-inline-block"><a href="#"
                              class="text-light d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                              title="جستجو"><i class="bi bi-search"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-body">
                  <form action="">
                     <input type="text" placeholder="جستجو کنید ...">
                     <button><i class="bi bi-search"></i></button>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid px-0">
         <div class="page-title-box text-center">
            <div class="bread-crumb-box pb-3">
               <ol>
                  <li><a href="index.html">خانه</a></li>
                  <li><a href="#">کفش زنانه </a></li>
                  <li><span> مدل k-510</span></li>
               </ol>
            </div>
         </div>
      </div>
   </header>
   <section>
      <div class="container">
         <div class="page-content">
            <div class="row">
               <div class="col-lg-5 col-md-6">
                  <div class="product-img bg-white p-3 rounded mb-4 mb-md-0">
                     <figure class="border-bottom mb-0 pb-2">
                        <img src="img/item-2.jpg" alt="" class="d-table mx-auto" id="appzoom"
                           data-zoom-image="img/product/3.jpg" style="max-height: 350px;">
                     </figure>
                     <div class="product-gallery owl-carousel owl-theme pt-3">
                        <div class="item">
                           <a data-fancybox="gallery" href="img/item-3.jpg">
                              <figure class="position-relative p-1 mb-0">
                                 <img src="img/item-4.jpg" alt="">
                                 <figcaption class="position-absolute rounded w-100 h-100 text-center">
                                    <i class="bi bi-zoom-in"></i>
                                 </figcaption>
                              </figure>
                           </a>
                        </div>
                        <div class="item">
                           <a data-fancybox="gallery" href="img/item-5.jpg">
                              <figure class="position-relative p-1 mb-0">
                                 <img src="img/item-6.jpg" alt="">
                                 <figcaption class="position-absolute rounded w-100 h-100 text-center">
                                    <i class="bi bi-zoom-in"></i>
                                 </figcaption>
                              </figure>
                           </a>
                        </div>
                        <div class="item">
                           <a data-fancybox="gallery" href="img/item-7.jpg">
                              <figure class="position-relative p-1 mb-0">
                                 <img src="img/item-8.jpg" alt="">
                                 <figcaption class="position-absolute rounded w-100 h-100 text-center">
                                    <i class="bi bi-zoom-in"></i>
                                 </figcaption>
                              </figure>
                           </a>
                        </div>
                        <div class="item">
                           <a data-fancybox="gallery" href="img/item-9.jpg">
                              <figure class="position-relative p-1 mb-0">
                                 <img src="img/item-10.jpg" alt="">
                                 <figcaption class="position-absolute rounded w-100 h-100 text-center">
                                    <i class="bi bi-zoom-in"></i>
                                 </figcaption>
                              </figure>
                           </a>
                        </div>
                        <div class="item">
                           <a data-fancybox="gallery" href="img/item-11.jpg">
                              <figure class="position-relative p-1">
                                 <img src="img/item-12.jpg" alt="">
                                 <figcaption class="position-absolute rounded w-100 h-100 text-center">
                                    <i class="bi bi-zoom-in"></i>
                                 </figcaption>
                              </figure>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-7 col-md-6">
                  <div class="product-detail p-3">
                     <h1 class="pb-3 m-0"> طرح 905 </h1>
                     <div class="product-rating mb-3">
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-dark"></i>
                        <span>12 دیدگاه ثبت شده</span>
                     </div>
                     <div class="product-price mb-4 pb-3">
                        <span>2اتر</span>
                        <del>3اتر</del>
                     </div>
                     <div class="border-start border-5 p-3 mb-5">
                        <div class="color-picker-product mt-1 d-inline-block w-100">
                           <span> انتخاب رنگ</span>&nbsp;
                           <input type="radio" id="dark_color" name="p_color">
                           <label for="dark_color" class="bg-dark"></label>
                           <input type="radio" id="success_color" name="p_color">
                           <label for="success_color" class="bg-success"></label>
                           <input type="radio" id="yellow_color" name="p_color">
                           <label for="yellow_color" class="bg-warning"></label>
                           <input type="radio" id="info_color" name="p_color">
                           <label for="info_color" class="bg-info"></label>
                        </div>

                        <div class="add-to-cart d-inline-block bg-white mb-2 p-4 text-end">
                           <input type="number" min="1" value="1">
                           <button>افزودن به سبد خرید</button>
                        </div>
                     </div>
                     <div class="add-to-wish mb-3">
                        <span><i class="bi bi-heart"></i>&nbsp;افزودن به علاقمندی</span>
                     </div>
                     <div class="cat-sku">
                        <span class="d-inline-block pe-4">دسته : کفش زنانه</span>
                        <span>شناسه محصول : #k-789</span>
                     </div>
                     <div class="product-excerpt mt-3 border-top pt-3">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                           چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                           مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row single-product-reverse">
               <div class="col-lg-5 col-md-6">
                  <div class="poduct-review-form bg-white rounded p-3 mt-3">
                     <form action="">
                        <div class="set-rate d-flex">
                           <span class="d-inline-block pe-3">امتیاز شما</span>
                           <div class="box-rate w-100 text-end">
                              <input type="radio" id="5" value="5" name="rate">
                              <label for="5"></label>
                              <input type="radio" id="4" value="4" name="rate">
                              <label for="4"></label>
                              <input type="radio" id="3" value="3" name="rate">
                              <label for="3"></label>
                              <input type="radio" id="2" value="2" name="rate">
                              <label for="2"></label>
                              <input type="radio" id="1" value="1" name="rate">
                              <label for="1"></label>
                           </div>
                        </div>
                        <input type="text" placeholder="نام شما ( الزامی )">
                        <input type="email" placeholder="ایمیل شما ( الزامی )">
                        <textarea placeholder="نظر شما ..."></textarea>
                        <button>ارسال دیدگاه</button>
                     </form>
                  </div>
               </div>
               <div class="col-lg-7 col-md-6">
                  <div class="product-content bg-white rounded p-3 mt-3">
                     <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                           <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                              data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                              aria-selected="true">جزئیات محصول</button>
                        </li>
                        <li class="nav-item" role="presentation">
                           <button class="nav-link" id="pills-one-tab" data-bs-toggle="pill" data-bs-target="#pills-one"
                              type="button" role="tab" aria-controls="pills-one" aria-selected="false">ویژگی ها</button>
                        </li>
                        <li class="nav-item" role="presentation">
                           <button class="nav-link" id="pills-two-tab" data-bs-toggle="pill" data-bs-target="#pills-two"
                              type="button" role="tab" aria-controls="pills-two" aria-selected="false">نظرات</button>
                        </li>
                     </ul>
                     <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active p-3" id="pills-home" role="tabpanel"
                           aria-labelledby="pills-home-tab">
                           <h4>کفش </h4>
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                              است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                              تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                              است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                              تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                           <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                              است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                              تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.لورم ایپسوم متن
                              ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و
                              متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.لورم ایپسوم متن ساختگی با
                              تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                              روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                              کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                        </div>
                        <div class="tab-pane fadeone p-3" role="tabpanel" id="pills-one"
                           aria-labelledby="pills-one-tab">
                           <div class="table-responsive">
                              <table class="table mt-2">
                                 <tr>
                                    <td>وزن</td>
                                    <td>.6 کیلوگرم</td>
                                 </tr>
                                 <tr>
                                    <td>رنگ</td>
                                    <td>سفید ، خاکستری ، مشکی</td>
                                 </tr>
                              </table>
                           </div>
                        </div>
                        <div class="tab-pane fade p-3" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab">
                           <div class="review-item-box border-bottom py-4">
                              <div class="review-parent pb-3">
                                 <div class="row">
                                    <div class="col-2">
                                       <div class="review-avatar">
                                          <img src="img/userAvatar.png" alt="">
                                       </div>
                                    </div>
                                    <div class="col-10">
                                       <span class="d-inline-block pe-5">امید</span>
                                       <span class="d-inline-block">
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-dark"></i>
                                       </span>
                                       <p>لورم ایپسوم متن ساختگی</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="review-parent ms-0 ms-sm-5 border p-3">
                                 <div class="row">
                                    <div class="col-2">
                                       <div class="review-avatar">
                                          <img src="img/userAvatar.png" alt="">
                                       </div>
                                    </div>
                                    <div class="col-10">
                                       <span class="d-inline-block pe-5">مدیر سایت</span>
                                       <span class="d-inline-block">
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-dark"></i>
                                          <i class="bi bi-star text-dark"></i>
                                          <i class="bi bi-star text-dark"></i>
                                       </span>
                                       <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                          طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                          لازم است</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="review-item-box border-bottom py-4">
                              <div class="review-parent pb-3">
                                 <div class="row">
                                    <div class="col-2">
                                       <div class="review-avatar">
                                          <img src="img/userAvatar.png" alt="">
                                       </div>
                                    </div>
                                    <div class="col-10">
                                       <span class="d-inline-block pe-5">Samin</span>
                                       <span class="d-inline-block">
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-dark"></i>
                                       </span>
                                       <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="review-parent ms-0 ms-sm-5 p-3 border">
                                 <div class="row">
                                    <div class="col-2">
                                       <div class="review-avatar">
                                          <img src="img/userAvatar.png" alt="">
                                       </div>
                                    </div>
                                    <div class="col-10">
                                       <span class="d-inline-block pe-5">پشتیبانی</span>
                                       <span class="d-inline-block">
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-warning"></i>
                                          <i class="bi bi-star text-dark"></i>
                                          <i class="bi bi-star text-dark"></i>
                                       </span>
                                       <p> سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
                                          با هدف بهبود ابزارهای کاربردی می باشد</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="d-inline-block w-100 mt-5">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="site-title-box">
                  <span class="d-block">محصولات مرتبط با</span>
                  <span class="d-block ps-3">450 k طرح
                  </span>
               </div>
            </div>
            <div class="col-12">
               <div class="cat-slider-item owl-carousel owl-theme">
                  <div class="product-item product-item-vertical produt-item-border p-3 bg-white rounded my-3">
                     <a href="#">
                        <figure class="w-100 position-relative overflow-hidden border-bottom">
                           <img src="img/item-13.jpg" alt="" class="d-table mx-auto">
                           <figcaption class="position-absolute w-100 h-100 text-center">
                              <ul class="p-0">
                                 <li class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="مشاهده محصول">
                                    <a href="#" class="d-inline-block"><i class="bi bi-eye"></i></a>
                                 </li>
                                 <li class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="افزودن به علاقمندی"><a href="#" class="d-inline-block"><i
                                          class="bi bi-heart"></i></a></li>
                              </ul>
                           </figcaption>
                        </figure>
                     </a>
                     <a href="#">
                        <h5 class="m-0 py-2 text-center overflow-hidden"> مدل k-456</h5>
                     </a>
                     <p class="text-center overflow-hidden mt-2">لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم از
                        صنعت چاپ و با استفاده از طراحان گرافیک است
                     </p>
                     <div class="product-rate text-center mb-2">
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-dark"></i>
                     </div>
                     <div class="product-price d-flex">
                        <span class="d-inline-block w-100 text-start">2.200.000 تومان</span>
                        <del class="d-inline-block w-100 text-end">2.450.000 تومان</del>
                     </div>
                  </div>
                  <div class="product-item product-item-vertical produt-item-border p-3 bg-white rounded my-3">
                     <a href="#">
                        <figure class="w-100 position-relative overflow-hidden border-bottom">
                           <img src="img/item-14.jpg" alt="" class="d-table mx-auto">
                           <figcaption class="position-absolute w-100 h-100 text-center">
                              <ul class="p-0">
                                 <li class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="مشاهده محصول">
                                    <a href="#" class="d-inline-block"><i class="bi bi-eye"></i></a>
                                 </li>
                                 <li class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="افزودن به علاقمندی"><a href="#" class="d-inline-block"><i
                                          class="bi bi-heart"></i></a></li>
                              </ul>
                           </figcaption>
                        </figure>
                     </a>
                     <a href="#">
                        <h5 class="m-0 py-2 text-center overflow-hidden"> مدل k-456</h5>
                     </a>
                     <p class="text-center overflow-hidden mt-2">لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم از
                        صنعت چاپ و با استفاده از طراحان گرافیک است
                     </p>
                     <div class="product-rate text-center mb-2">
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-dark"></i>
                     </div>
                     <div class="product-price d-flex">
                        <span class="d-inline-block w-100 text-start">2.200.000 تومان</span>
                        <del class="d-inline-block w-100 text-end">2.450.000 تومان</del>
                     </div>
                  </div>
                  <div class="product-item product-item-vertical produt-item-border p-3 bg-white rounded my-3">
                     <a href="#">
                        <figure class="w-100 position-relative overflow-hidden border-bottom">
                           <img src="img/item-15.jpg" alt="" class="d-table mx-auto">
                           <figcaption class="position-absolute w-100 h-100 text-center">
                              <ul class="p-0">
                                 <li class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="مشاهده محصول">
                                    <a href="#" class="d-inline-block"><i class="bi bi-eye"></i></a>
                                 </li>
                                 <li class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="افزودن به علاقمندی"><a href="#" class="d-inline-block"><i
                                          class="bi bi-heart"></i></a></li>
                              </ul>
                           </figcaption>
                        </figure>
                     </a>
                     <a href="#">
                        <h5 class="m-0 py-2 text-center overflow-hidden"> مدل k-456</h5>
                     </a>
                     <p class="text-center overflow-hidden mt-2">لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم از
                        صنعت چاپ و با استفاده از طراحان گرافیک است
                     </p>
                     <div class="product-rate text-center mb-2">
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-dark"></i>
                     </div>
                     <div class="product-price d-flex">
                        <span class="d-inline-block w-100 text-start">2اتر</span>
                        <del class="d-inline-block w-100 text-end">3اتر</del>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <footer class="py-4 mt-5 position-relative">
      <span class="scrooltop position-absolute"></span>
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="footer-menu">
                  <ul class="p-0 my-3 text-center">
                     <li><a href="#">مشتریان</a></li>
                     <li><a href="#">قوانین</a></li>
                     <li><a href="#">خرید کالا</a></li>
                     <li><a href="#">درباره فروشگاه</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-4 col-12">
               <div class="footer-box">
                  <span class="title py-3 pb-4 d-block position-relative">درباره ما</span>
                  <ul class="p-0">
                     <li class="d-block w-100 py-2">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                  </ul>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="footer-box text-center">
                  <span class="title title-center py-3 pb-4 d-block position-relative">ما را دنبال کنید</span>
                  <ul class="p-0 social-ul">
                     <li class="d-inline-block m-1"><a href="#" class="d-inline-block p-2"><i
                              class="bi bi-instagram"></i></a></li>
                     <li class="d-inline-block m-1"><a href="#" class="d-inline-block p-2"><i
                              class="bi bi-linkedin"></i></a></li>
                     <li class="d-inline-block m-1"><a href="#" class="d-inline-block p-2"><i
                              class="bi bi-twitter"></i></a></li>
                  </ul>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="footer-box">
                  <span class="title py-3 pb-4 d-block position-relative">تماس با ما</span>
                  <ul class="p-0">
                     <li class="d-block w-100 py-2">
                        <span><i class="bi bi-telephone-inbound"></i>&nbsp;03131234567</span>
                     </li>
                     <li class="d-block w-100 py-2">
                        <span><i class="bi bi-geo-alt"></i>&nbsp;اصفهان ، ، ، </span>
                     </li>
                     <li class="d-block w-100 py-2">
                        <span><i class="bi bi-envelope"></i>&nbsp;info@gmail.com</span>
                     </li>
                     <li class="d-block w-100 py-2">
                        <span><i class="bi bi-clock"></i>&nbsp;شنبه تا پنشجنه 8 الی 21</span>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-12 text-center copy-r">
               <p> </p>
            </div>
         </div>
      </div>
   </footer>
   <script src="js/jQuery.js"></script>
   <script src="js/popper.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script src="js/jquery.simple.timer.js"></script>
   <script src="js/jquery.elevatezoom.js"></script>
   <script src="js/jquery.fancybox.min.js"></script>
   <script src="js/index.js"></script>
</body>

</html>